
<head>
<html>
	<title>Bienvenido</title>
	<link rel='stylesheet' type='text/css' href='stylesheet.css'/>
	
</head>
<body>
	
		<div class="row">
		<div id="image">
			<div class="col-md-12">
			<img src="https://dl.dropboxusercontent.com/u/9768110/landingLSM%20copia.jpg" alt="google">
		</div>
			<button type="button" class="btn btn-success btn-lg btn-block">Reserva tu Cupo</button>
	</div> 
		
	</div>
	
</div>
		
				
    
			

	
	
</body>


 