<div style="padding-top: 43px;">
<div data-spy="scroll">

<!-- Imagen tipo Jumbotron para comenzar (mensaje + boton de seguir) -->
<div id="home">	
	<div style="background-image: url(https://dl.dropboxusercontent.com/u/9768110/FOTO.png)">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="padding: 25px">
				<h1 style="font-size: 60px; font-weight: bold; font-color: white; text-color: inherit;">LEAN STARTUP<br>MACHINE® LAB</h1>
			</div>
		</div>	
	<!-- Logo bomba -->
		<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/Z.POWEREDBY.png" width=30% height=30%>
  				
				</div>
		</div>	
			<div class="row">	
				<div class="col-md-7 col-md-offset-1" style="padding:10px">
					<blockquote>
  						<p class="lead" class="text-left" style="font-size: 35px;">El método para transformar tu empresa en una máquina de productos innovadores y exitosos.
  						<p>
  					</blockquote>
				</div>
			</div>
	<!-- cambiar el color del boton de descargar (#fee901 o #feea00) -->			
		<div class="row" style="padding: 30px;">
			<div class="btn col-md-5 col-md-offset-1">	
  				<a href="#form" class="btn btn-primary btn-lg btn-block" role="button" style="font-size: 25px;">Contactanos para conversar</a>
			</div>
		</div>
	</div>
</div>
<!-- Comienzo seccion marcas y mundo completo (nuestros clientes) -->
<div id="clientes">
<div style="background-color:white">
	<div class="row" style="padding: 25px;">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Las empresas más importantes del mundo <br> utilizan Lean Startup Machine®</h1>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-12">
			<img src="https://dl.dropboxusercontent.com/u/9768110/mapa.png" alt="google" width=100% height=100%>
			</div>
		</div>	
</div>
</div>
<!-- Video y proceso -->
<div id="taller">
<div style="background-color:#feea00; padding-top: 50px">

<h1 class="text-center">Inicia el proceso para tu empresa con nuestro<br> <strong> Taller Lean Startup Machine®</strong> Intensivo de 3 días.</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1"><br><br><br>
				<iframe src="//fast.wistia.net/embed/iframe/h1z7s247j4?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
			</div>
		</div>
	</div>
	<br>
	<!-- proceso 1 -->
	<!-- cambiar el porte y el ripo de letra de los parrafos -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-center">Construye el <br> Modelo de Negocios</h3>
				<blockquote>
  						<p class="lead">Transforma tus ideas en un Modelo de Negocios y visualiza como son tus primeras hipótesis.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Valida tus Productos <br> con tus Clientes</h3>
				<blockquote>
  						<p class="lead">Desarrolla experimentos para ver si tus clientes están dispuestos a  pagar por tu solución.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Presenta y demuestra <br> tus avances</h3>
				<blockquote>
  						<p class="lead">Demuestra tus experimentos y aprendizaje. El equipo con más experimentos gana.</p>
		
			</div>
		</div>	
	</div>	
</div>
</div>


<!-- ebook -->
<div id="caso">
<div style="background-color:white; container">

	<div class="row">
		<h1 class="text-left; col-md-5 col-md-offset-1">Caso de Estudio <br><br><blockquote>
  			<p class="lead">Cuando el paisaje cambia tan rápido, el establecimiento de un proceso de innovación sostenible es el único camino a seguir. Nuestro proceso estructurado ha demostrado que aumentar la cultura de equipo y la capacidad de identificar nuevos modelos de negocio disruptivos es la única forma de crecer.</p>
		</blockquote> 
		</h1>
			<div class"col-md-4 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/LIBRO.png" alt="libro">
			</div>		
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<a href="https://dl.dropboxusercontent.com/u/9768110/CaseStudy_TLC_Experience%20(1).pdf" class="btn btn-primary btn-block btn-lg" role="button">Descargar Ebook
			</a>
<!-- activar el color del boton de descargar (#fee901 o #feea00) -->
		</div>	
		<br>
		<br>
		<br>
	</div>

</div>

<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
</div>
</div>
</div>
		

<!-- formulario -->
<div id="form">
	<div style="background-color:white; padding:20px">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Si estas interesado en innovar <br>en tu empresa como los mejores.</h1>
				</div>
					<div class="row">
					<div class="col-md-4 col-md-offset-4">
  						<p class="lead" class="text-center" style="padding-top: 10px">Contáctanos acá</p>
					</div>
					</div>


<div class="row" style="padding-top: 15px">
	<div class="col-md-4 col-md-offset-4">
		<%= render :partial=>"form"%>
	</div>
	</div>
	</div>

</div>
</div>
</div>
</div>
</div>
<!-- Equipo más foto -->
<div id="equipo">

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/alf.jpg" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Alfredo Osoio</h3>
      <p>Alfredo Osorio (@alf2021) lleva mas de 22 años como emprendedor, inversionista angel y mentor de innumerables emprendimientos. Fue co-Fundador de Patagon.com International, es inversionista angel de Tiaxa.net entre muchas otras Startups. Actualmente es Fundador de BOMBAcamp, campus de emprendedores que ayuda a las Startups a aumentar su probabilidad de éxito y cambiar la forma como se transforma una idea en un producto o servicio. Es especialista en Lean Startup y Customer Development.</p>    
  </div>
  </li>
</ul>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-17%2019.52.42.png" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Trevor Owens</h3>
      <p>Trevor es emprendedor y líder en la metodología Lean Startup. Como fundador y CEO Lean Startup Machine, que ha ayudado a miles de fundadores de startups e individuos de organizaciones como Google, Salesforce, News Corp, Intuit, y otros, comienzan a cientos de nuevos negocios en los cinco continentes. Owens está activo en la comunidad como un entrenador para el programa de becarios de la Innovación de la Casa Blanca y como exponente especial en Princeton y la Universidad de Columbia.</p>    
  </div>
  </li>
</ul>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-17%2019.58.33.png" alt="alfredo" class="img-circle">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Obie Fernández</h3>
      <p>Obie es un empresario, y autor del best seller Ruby on Rails. Además es el director de tecnología de Lean Startup Machine. Anteriormente fundó Hashrocket, una de las tiendas de desarrollo web más venerados de Rails en el mundos, que se llevó a más de 35 empleados y casi 7 millones de dólares en ingresos en 2010. Fernández cuenta con más de 15 años de experiencia en programación y desarrollo de productos para el equipo de la máquina Lean Startup</p>    
  </div>
  </li>
</ul>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/alf.jpg" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Mijael Feldman</h3>
      <p>Obie es un empresario, y autor del best seller Ruby on Rails. Además es el director de tecnología de Lean Startup Machine. Anteriormente fundó Hashrocket, una de las tiendas de desarrollo web más venerados de Rails en el mundos, que se llevó a más de 35 empleados y casi 7 millones de dólares en ingresos en 2010. Fernández cuenta con más de 15 años de experiencia en programación y desarrollo de productos para el equipo de la máquina Lean Startup</p>    
  </div>
  </li>
</ul>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/alf.jpg" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Sebastián Rojas</h3>
      <p>Obie es un empresario, y autor del best seller Ruby on Rails. Además es el director de tecnología de Lean Startup Machine. Anteriormente fundó Hashrocket, una de las tiendas de desarrollo web más venerados de Rails en el mundos, que se llevó a más de 35 empleados y casi 7 millones de dólares en ingresos en 2010. Fernández cuenta con más de 15 años de experiencia en programación y desarrollo de productos para el equipo de la máquina Lean Startup</p>    
  </div>
  </li>
</ul>
</div>
<!-- footer -->
 <div style="background-color: #ECECEC; padding:40px">
		
		<div class="row">
			<div class="col-md-4 col-md-offset-1">	
				<p class="text-center"><small>Powered by <strong>BombaCamp</strong></small></p>		
			</div>
			<div class="col-md-4 col-md-offset-1">
				<p class="text-center"><small><strong>©Lean Startup Machine.</strong> All Rights Reserved.</small></p>
			</div>	
			
		</div>
		<div class"row">
			<div class="col-md-4 col-md-offset-4">
				<img src="https://dl.dropboxusercontent.com/u/9768110/logosabajo.png" width=75% height=75%>
			</div>
		</div>
</div>	


</body>
 
    
			

	
	



 