<div style="padding-top: 43px;">
<div data-spy="scroll">

<!-- Imagen tipo Jumbotron para comenzar (mensaje + boton de seguir) -->
<div id="home">	
	<div style="background-image: url(https://dl.dropboxusercontent.com/u/9768110/FOTO.png)">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="padding-top: 25px">
				<h1>LEAN STARTUP<br>MACHINE®</h1>
			</div>
		</div>	
		<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/Z.POWEREDBY.png">
  				
				</div>
		</div>	
			<div class="row">	
				<div class="col-md-5 col-md-offset-1" style="padding:10px">
					<blockquote>
  						<p class="lead" class="text-left">El método para transformar tu empresa en una máquina de productos innovadores y exitosos.
  						<p>
  					</blockquote>
				</div>
			</div>
	<!-- cambiar el color del boton de descargar (#fee901 o #feea00) -->			
		<div class="row" style="padding: 30px">
			<div class="btn col-md-3 col-md-offset-1">	
  				<a href="#form" class="btn btn-danger btn-lg" role="button">Inscribe a tu empresa</a>
			</div>
		</div>
	</div>
</div>
<!-- Comienzo seccion marcas y mundo completo (nuestros clientes) -->
<div id="clientes">
<div style="background-color:white">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Las empresas más importantes del mundo <br> utilizan Lean Startup Machine®</h1>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-12">
			<img src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-16%2017.09.28.png" alt="google" width=110% height=110%>
			</div>
		</div>	
</div>
</div>
<!-- Video y proceso -->
<div id="taller">
<div style="background-color:#feea00; padding-top: 50px">

<h1 class="text-center">Inicia el proceso para tu empresa con nuestro<br> <strong> Taller Lean Startup Machine®</strong> Intensivo de 3 días.</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1"><br><br><br>
				<iframe src="//fast.wistia.net/embed/iframe/h1z7s247j4?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
			</div>
		</div>
	</div>
	<br>
	<!-- proceso 1 -->
	<!-- cambiar el porte y el ripo de letra de los parrafos -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-center">Construye el <br> Modelo de Negocios</h3>
				<blockquote>
  						<p class="lead">Transforma tus ideas en un Modelo de Negocios y visualiza como son tus primeras hipótesis.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Valida tus Productos <br> con tus Clientes</h3>
				<blockquote>
  						<p class="lead">Desarrolla experimentos para ver si tus clientes están dispuestos a  pagar por tu solución.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Presenta y demuestra <br> tus avances</h3>
				<blockquote>
  						<p class="lead">Demuestra tus experimentos y aprendizaje. El equipo con más experimentos gana.</p>
		
			</div>
		</div>	
	</div>	
</div>
</div>


<!-- ebook -->
<div id="caso">
<div style="background-color:white; container">

	<div class="row">
		<h1 class="text-left; col-md-5 col-md-offset-1">Caso de Estudio <br><br><blockquote>
  			<p class="lead">Cuando el paisaje cambia tan rápido, el establecimiento de un proceso de innovación sostenible es el único camino a seguir. Nuestro proceso estructurado ha demostrado que aumentar la cultura de equipo y la capacidad de identificar nuevos modelos de negocio disruptivos es la única forma de crecer.</p>
		</blockquote> 
		</h1>
			<div class"col-md-4 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/LIBRO.png" alt="libro">
			</div>		
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<a href="https://dl.dropboxusercontent.com/u/9768110/CaseStudy_TLC_Experience%20(1).pdf" class="btn btn-bg-color:#ffee901 btn-lg" role="button">Descargar Ebook
			</a>
<!-- activar el color del boton de descargar (#fee901 o #feea00) -->
		</div>	
		<br>
		<br>
		<br>
	</div>

</div>

<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
</div>
</div>
</div>
		

<!-- formulario -->
<div id="form">
<div style="background-color:white; padding:20px"></div>

<div class="col-md-5 col-md-offset-1">
				<h1 class="text-left">Si estas interesado en <br> innovar en tu empresa como los mejores.</h1>
				<blockquote>
  						<p class="lead" style="padding-top: 10px">Contáctanos acá</p>
		
			</div>

<div class="row" style="padding-top: 15px">
	<div class="col-md-5 col-md-offset-3">
		<%= render :partial=>"form"%>
	</div>
	</div>
	</div>

</div>
</div>
</div>
</div>
<!-- footer -->
 <div style="background-color: #ECECEC; padding:40px">
		<div class="col-md-8 col-md-offset-2">
			<div style="background-color:##ACACAC; padding:3px">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<p class="text-left"><small><strong>©Lean Startup Machine.</strong> All Rights Reserved.</small></p>
			</div>	
			<div class="col-md-4 col-md-offset-1">	
				<p class="text-right">Powered by BombaCamp</p>		
			</div>
		</div>


</div>
 	
  





	
</body>
 
    
			

	
	



 