<div style="padding-top: 43px;">
<div data-spy="scroll">

<!-- Imagen tipo Jumbotron para comenzar (mensaje + boton de seguir) -->
	<div id="home" style="background-image: url(https://dl.dropboxusercontent.com/u/9768110/FOTO.png)">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" style="padding-top: 25px">
				<img src="https://dl.dropboxusercontent.com/u/9768110/BOMBALOGO%20(1).png">
			</div>
		</div>	
		<div class="row">
				<div class="col-md-5 col-md-offset-1">
  				<h1>LEAN STARTUP<br>MACHINE</h1>
				</div>
		</div>	
			<div class="row">	
				<div class="col-md-5 col-md-offset-1">
					<blockquote>
  						<p class="lead" class="text-left">El método para transformar tu empresa en una máquina de productos innovadores y exitosos.
  						<p>
  					</blockquote>
				</div>
			</div>
	<!-- cambiar el color del boton de descargar (#fee901 o #feea00) -->			
		<div class="row" style="padding: 40px">
			<div class="btn col-md-3 col-md-offset-1">	
  				<button type="button" class="btn btn-danger btn-lg">Comienza hoy</button>
			</div>
		</div>
	</div>


<!-- Comienzo seccion marcas y mundo completo (nuestros clientes) -->

<div style="background-color:white">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 id="clientes" class="text-center">Las empresas más importantes del mundo <br> utilizan Lean Startup Machine®</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<img src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-16%2017.09.28.png" alt="google" width=110% height=110%>
			</div>
		</div>

	</div>	
</div>
<!-- logos -->

<!-- Video y proceso -->
<div style="background-color:#feea00; padding-top: 50px">

<h1 id="taller" class="text-center">Inicia el proceso para tu empresa con nuestro<br> <strong> Taller Lean Startup Machine®</strong> Intensivo de 3 días.</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1"><br><br><br>
				<iframe src="//fast.wistia.net/embed/iframe/h1z7s247j4?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
			</div>
		</div>
	</div>
	<br>
	<!-- proceso 1 -->
	<!-- cambiar el porte y el ripo de letra de los parrafos -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-center">Construye el <br> Modelo de Negocios</h3>
				<blockquote>
  						<p class="lead">Transforma tus ideas en un Modelo de Negocios y visualiza como son tus primera hipótesis.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Valida tus Productos <br> con tus Clientes</h3>
				<blockquote>
  						<p class="lead">Desarrolla experimentos para ver si tus clientes están dispuestos a  pagar por tu solución.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Presenta y demuestra <br> tus avances</h3>
				<blockquote>
  						<p class="lead">Demuestra tus experimentos y aprendizaje. El equipo con más experimentos gana.</p>
		
			</div>
		</div>	
	</div>	
</div>


<!-- ebook -->
<div style="background-color:white; container">

	<div class="row">
		<h1 id="caso" class="text-left; col-md-5 col-md-offset-1">Caso de Estudio <br><br><blockquote>
  			<p class="lead">When the landscape is changing so fast, establishing a process for sustainable innovation is your only way forward. Our structured process has been proven to boost team culture and increase the ability to identify new, disruptive business models.</p>
		</blockquote> 
		</h1>
			<div class"col-md-4 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/LIBRO.png" alt="libro">
			</div>		
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<a href="https://dl.dropboxusercontent.com/u/9768110/Ebook-Como%202%20empresas%20transformaron%20su%20forma%20de%20emprender%20en%20s%C3%B3lo%203%20d%C3%ADas.docx" class="btn btn-bg-color:#ffee901 btn-lg" role="button">Descargar Ebook
			</a>
<!-- activar el color del boton de descargar (#fee901 o #feea00) -->
		</div>	
		<br>
		<br>
		<br>
	</div>

</div>

<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
</div>
</div>
		

<!-- formulario -->
<div style="background-color:white; padding-top:20px"></div>
<h1 id="form" class="text-left; col-md-5 col-md-offset-2">Postula a tu empresa</h1>
<h2>Cupos Limitados</h2>
<div class="row">

	
	<div class="col-md-5 col-md-offset-6">
		<%= render :partial=>"form"%>
	</div>
	</div>
	</div>

</div>
</div>
</div>



	
</body>
				
    
			

	
	



 