<div style="padding-top: 43px;">
<div data-spy="scroll">

<!-- Imagen tipo Jumbotron para comenzar (mensaje + boton de seguir) -->
<div id="home">	
	<div style="background-image: url(https://dl.dropboxusercontent.com/u/9768110/FOTO.png); background-size:cover;">
		<div class="row">
			<div class="col-md-7 col-md-offset-1" style="padding-top: 25px">
				<h1 style="font-size: 60px; font-weight: bold; font-color: white; text-color: inherit;">LEAN STARTUP<br>MACHINE<small>®</small> LAB</h1>
			</div>
		</div>	
	<!-- Logo bomba -->
		<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/POWERED300X50PX.png">
  				
				</div>
		</div>	
			<div class="row">	
				<div class="col-md-7 col-md-offset-1" style="padding:10px">
					
  						<p class="lead" class="text-left" style="font-size: 35px;">El método para transformar tu <br> empresa en una máquina de <br> productos innovadores y exitosos.
  						<p>
  					
				</div>
			</div>
	<!-- cambiar el color del boton de descargar (#fee901 o #feea00) -->			
		<div class="row">
			<div class="btn col-md-5 col-md-offset-1">	
  				<a href="#form" class="btn btn-warning btn-lg btn-block" role="button" style="font-size: 25px; 25px; background-color: #000; color: #fad900; border:1px solid #000;">Contáctanos para conversar</a>
  				<br><br>	
			</div>
		</div>
	</div>
</div>
<!-- Comienzo seccion marcas y mundo completo (nuestros clientes) -->
<div id="clientes">
<div style="background-color:white">
	<div class="row" style="padding: 25px;">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Las empresas más importantes del mundo <br> utilizan Lean Startup Machine<small>®</small></h1>
		</div>

	</div>
	
		<div>
			<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
			<img src="https://dl.dropboxusercontent.com/u/9768110/mapa960x421.png" alt="google">
			<br><br><br>
			</div>
		</div>
		</div>	
</div>
</div>
<!-- Video y proceso -->
<div id="taller">
<div style="background-color:#feea00; padding-top: 30px">

<h1 class="text-center">Inicia el proceso para tu empresa con nuestro<br> <strong> Taller Lean Startup Machine®</strong> Intensivo de 3 días.</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1"><br><br><br>
				<iframe src="//fast.wistia.net/embed/iframe/h1z7s247j4?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
			</div>
		</div>
	</div>
	<br>
	<!-- proceso 1 -->
	<!-- cambiar el porte y el ripo de letra de los parrafos -->
	<div style="padding: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3 class="text-center">Construye el <br> Modelo de Negocios</h3>
			
  						<p class="lead; text-center" style="font-size: 20px; font-weight: normal; text-color: inherit;">Transforma tus ideas en un Modelo de Negocios y visualiza como son tus primeras hipótesis.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Valida tus Productos <br> con tus Clientes</h3>
				
  						<p class="lead; text-center" style="font-size: 20px; font-weight: normal; text-color: inherit;">Desarrolla experimentos para ver si tus clientes están dispuestos a  pagar por tu solución.</p>
			</div>
			<div class="col-md-4">
				<h3 class="text-center">Presenta y demuestra <br> tus avances</h3>
				
  						<p class="lead; text-center" style="font-size: 20px; font-weight: normal; text-color: inherit;">Demuestra tus experimentos y aprendizajes.</p>
		
			</div>
		</div>	
	</div>	
</div>
</div>
</div>


<!-- ebook -->
<div id="caso">
<div style="background-color:white; container; padding: 20px;">

	<div class="row">
		<h1 class="text-left; col-md-5 col-md-offset-2">Caso de Estudio <br><br><blockquote>
  			<p class="lead">Cuando el paisaje cambia tan rápido, el establecimiento de un proceso de innovación sostenible es el único camino a seguir. Nuestro proceso estructurado ha demostrado que, aumentar la cultura de equipo y la capacidad de identificar nuevos modelos de negocio disruptivos es la única forma de crecer.</p>
		</blockquote> 
		</h1>
			<div class"col-md-4 col-md-offset-1">
					<img src="https://dl.dropboxusercontent.com/u/9768110/LIBRO.png" alt="libro">
			</div>		
	</div>
	<div class="row" style="padding: 20px;">
		<div class="col-md-4 col-md-offset-2">
			<a href="https://startupnow1.wufoo.com/forms/qktm2870ou4jxq/" onclick="window.open(this.href,  null, 'height=520, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" class="btn btn-lg btn-block btn-warning" role="button" style="font-size: 25px; background-color: #000; color: #fad900; border:1px solid #000;">Descarga tu E-Book.</a>
<!-- activar el color del boton de descargar (#fee901 o #feea00) -->
		</div>	
		<br>
		<br>
		<br>
	</div>

</div>
<!-- linea de separacion -->
<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
	</div>
</div>
</div>
		

<!-- formulario -->
<div id="form">
	<div style="background-color:white; padding:20px">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Si estas interesado en innovar <br>en tu empresa como los mejores.</h1>
				</div>
					<div class="row">
					<div class="col-md-4 col-md-offset-4">
  						<p class="lead" class="text-center" style="padding-top: 10px">Contáctanos acá</p>
					</div>
					</div>


<div class="row" style="padding-top: 15px">
	<div class="col-md-4 col-md-offset-4">
		<%= render :partial=>"form"%>
	</div>
	</div>
	</div>

</div>
</div>
</div>
</div>
</div>


<!-- linea de separacion -->
<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
	</div>
</div>
</div>

<!-- equipo -->

<div id="equipo">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
		<h1 class="text-center">Equipo de Lean Startup Machine®</h1>
		</div>
<div style="padding: 20px;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/contenido1_0006_Capa-24.png" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Alfredo Osorio</h3>
    <blockquote>
      <p>Alfredo Osorio (@alf2021) Alfredo lleva mas de 22 años como emprendedor, inversionista angel y mentor de innumerables emprendimientos. Fue co-Fundador de Patagon.com International, es inversionista angel de Tiaxa.net entre muchas otras Startups. Actualmente es Fundador de BOMBAcamp, campus de emprendedores que ayuda a emprendedores y empresas a incrementar su probabilidad de éxito cambiando la forma de como se transforma una idea en un producto o servicio. Es especialista en Lean Startup y Customer Development.</p> 
     </blockquote>   
  </div>
  </li>
</ul>
</div>
<div style="padding: 20px;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-17%2019.52.42.png" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Trevor Owens</h3>
      <blockquote>
      <p>Trevor es emprendedor y líder en la metodología Lean Startup. Como fundador y CEO de Lean Startup Machine ha ayudado a miles de fundadores de startups e individuos de organizaciones como Google, Salesforce, News Corp, Intuit, y otros a crear negocios en los 5 continentes. Owens es un activo entrenador para el programa de becarios de Innovación en la Casa Blanca, así como también un frecuente presentador en seminarios en las Universidades de Princeton y Columbia.</p>    
  	</blockquote>
  </div>
  </li>
</ul>
</div>
<div style="padding: 20px;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/obie%204.png" alt="alfredo" class="img-circle">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Obie Fernández</h3>
      <blockquote>
      <p>Obie es emprendedor, y autor del best seller "Ruby on Rails". Hoy es el Director de Tecnología de Lean Startup Machine. Anteriormente fundó Hashrocket, una de las tiendas de desarrollo web más admiradas de Rails en el mundo, liderando a 35 empleados y dejando ingresos por 7 millones de dólares en 2010. Fernández cuenta con más de 15 años de experiencia en programación y desarrollo de productos que ahora entrega al equipo de Lean Startup Machine.</p>  
      </blockquote>  
  </div>
  </li>
</ul>
</div>
<div style="padding: 20px;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/Captura%20de%20pantalla%202013-11-18%2005.57.07.png" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Mijael Feldman</h3>
      <blockquote>
      <p>Mijael (@mijafeldman) es Magister en Innovación de la UAI, Co Fundador de Bombacamp y Angel Investor.  Especialista en Lean Startup y Growth Hacker.</p>    
  </blockquote>
  </div>
  </li>
</ul>
</div>
<div style="padding: 20px;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object; img-circle" src="https://dl.dropboxusercontent.com/u/9768110/contenido1_0007_Objeto-inteligente-vectorial.png" alt="alfredo">
    </a>
    <div class="media-body">
      <h3 class="media-heading">Sebastián Rojas</h3>
      <blockquote>
      <p>Sebastián (@srojass) es MBA PUC y tiene 13 años de experiencia en áreas de Ventas, Marketing y Estrategia de Nuevos Negocios en empresas relacionadas con consumo masivo y medios de comunicación. Co Fundador de Bombacamp y Angel Investor. Especialista en Lean Startup y Platform Thinking.</p>    
  </blockquote>
  </div>
  </li>
</ul>

</div>
</div>
</div>
<!-- linea de separacion -->
<div class="col-md-8 col-md-offset-2">
	<div style="background-color:#BDBDBD; padding:1px">
	</div>
</div>
</div>


<!-- footer -->


<footer id="footer">
<div style="background-color: white">
        
        <div class="row">
            <div class="col-md-4 col-md-offset-1">  
                <p class="text-center"><small>Powered by <strong>BombaCamp</strong></small></p>     
            </div>
            <div class="col-md-4 col-md-offset-1">
                <p class="text-center"><small><strong>©Lean Startup Machine.</strong> All Rights Reserved.</small></p>
            </div>  
            
        </div>
        <div class"row">
            <div class="col-md-4 col-md-offset-4">
                <img src="https://dl.dropboxusercontent.com/u/9768110/logosabajo.png" width=75% height=75%>
            </div>
        </div>
</div>
</footer>

</body>
<script>
	$(document).ready(function(){
    $(".scroll").click(function(event){
        //prevent the default action for the click event
        event.preventDefault();

        //get the full url - like mysitecom/index.htm#home
        var full_url = this.href;

        //split the url by # and get the anchor target name - home in mysitecom/index.htm#home
        var parts = full_url.split("#");
        var trgt = parts[1];

        //get the top offset of the target anchor
        var target_offset = $("#"+trgt).offset();
        var target_top = target_offset.top - 60;

        //goto that anchor by setting the body scroll top to anchor top
        $('html, body').animate({scrollTop:target_top}, 500);
    });
});
</script>
    
		

	
	



 